* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
}

body {
  line-height: 1.6;
  color: #333;
  background: #f5f5f5;
  transition: background-color 0.3s, color 0.3s;
  font-size: clamp(0.9rem, 2ww + 1rem, 1.1rem);
}

header {
  background: #800000;
  color: white;
  padding: 40px 20px;
  text-align: left;
}

header img {
  width: 120px;
  height: 120px;
  border-radius: 10px;
  object-fit: cover;
  margin-bottom: 15px;
}

header h1 {
  font-size: clamp(1.5rem, 4vw + 1rem, 2.5rem);
}

header p {
  font-size: clamp(1rem, 2vw + 0.5rem, 1.2rem);
  opacity: 0.9;
}

.container {
  max-width: 1000px;
  margin: auto;
  padding: 20px;
}

section {
  margin-bottom: 40px;
}

h2 {
  border-bottom: 2px solid #800000;
  display: inline-block;
  margin-bottom: 15px;
  font-size: clamp(1.2rem, 3vw + 1rem, 2rem);
}

.skills, .experience {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 15px;
}

.card {
  background: #ffffff;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  transition: transform 0.3s, box-shadow 0.3s;
  animation: fadeInUp 0.8s ease forwards;
}
.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

footer {
  background: #333;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 20px;
}

footer a {
  color: #FFD700;
  text-decoration: none;
  margin: 0 10px;
}

footer a:hover {
  text-decoration: underline;
}

/*tablet*/
@media (max-width: 992px) {
    header, .container {
        padding: 15px;
    }
    .card {
        padding: 10px;
    }
}

/*hp*/
@media (max-width: 768px) {
    header img {
        width: 100px;
        height: 100px;
    }
    .skills, .experience {
        grid-template-columns: 1fr;
    }
}

/*animation*/
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.fade-in {
  opacity: 0;
  animation: fadeInUp 1s ease forwards;
}
@keyframes fadeIn {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}

@media print {
    #darkToggle, header img, footer { display: none; }
    body { background: white; color: black; }
    h2 { border-color: black; }
}